<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>miniProj1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>/WEB-INF/views/index.jsp</welcome-file>
  </welcome-file-list>
  
  	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>com.users.UserServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/user.do</url-pattern>
	</servlet-mapping>	
  
  	<servlet>
		<servlet-name>boardServlet</servlet-name>
		<servlet-class>com.board.servlet.BoardServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>boardServlet</servlet-name>
		<url-pattern>/board.do</url-pattern>
	</servlet-mapping>
		
  	<servlet>
		<servlet-name>indexServlet</servlet-name>
		<servlet-class>com.common.IndexServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>indexServlet</servlet-name>
		<url-pattern>/index.do</url-pattern>
	</servlet-mapping>	
	
</web-app>